<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Website</title>
    <link rel="stylesheet" href="/static/portal.css">
</head>
<body>
        <div class="form">
            <form class="login-form" action="/login.html" method="post">
                <input type="text" placeholder="username" name="username"/>
                <input type="password" placeholder="password" name="password"/>
                <button type="submit" name="login">Login</button>
                <p class="message">Not Registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
</body>
</html>